@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
del,
small,
table {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-header {
  background: radial-gradient(
    115.93% 71.58% at 73.5% 4.92%,
    #5b6378 0,
    #303642 39.67%,
    #111216 99.23%
  );
}
.navbar-nav li a {
  color: #fff !important;
  margin-right: 20px;
  font-weight: 600;
}
/* .navbar-nav li :hover {
  border-bottom: 2px solid #5cee08;
} */

.navbar-nav li ::before:hover {
  content: '';
  border-bottom: 2px solid #5cee08;
  position: absolute;
}

.nav-header {
  z-index: 99;
}
.nav-logo {
  width: 110px;
}

.nav-header svg {
  color: #fff;
}

.login-btn {
  background: none !important;
  border: 1px solid #fff !important;
  padding: 5px 25px !important;
  border-radius: 0 !important;
  color: #fff !important;
  font-family: 'Poppins', sans-serif;
}

/* first-slider */

/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* first-slider */
.price-card {
  display: flex;
}
.watch-card {
  background-color: aliceblue;
  width: 100%;
  height: 635px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px !important;
}
.main-watch img {
  padding: 1rem;
  width: 100%;
  height: 330px;
}
.watch-content {
  padding: 0.5rem 1.5rem;
}
.watch-content h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.price-card {
  margin-top: 1.5rem;
}
.price-card h6 {
  font-size: 1.5rem;
  font-weight: bold;
}
.price-card del {
  margin-left: 0.5rem;
  font-family: 'Poppins', sans-serif;
}
.buy {
  position: absolute;
  bottom: 25px;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.buy img {
  width: 22px !important;
  margin-bottom: 5px;
}
.watch-heading {
  text-align: center;
}
.watch-heading h2 {
  font-weight: bold;
  font-size: 2.5rem;
}

.watch-heading p {
  font-size: 1.2rem;
}
.choice img {
  width: 100%;
}
.heart img {
  width: 100%;
}
.social-icons {
  display: flex;
  margin-top: 1rem;
}
.social-icons i {
  margin-right: 20px;
  font-size: 1.5rem;
  color: #ffffff;
  --tw-bg-opacity: 1;
  background-color: rgba(76, 82, 95, var(--tw-bg-opacity));
  padding: 0.5rem;
}
.footer {
  background: radial-gradient(
    572.27% 153.85% at 48.42% 21.8%,
    #5b6378 0,
    #303642 39.67%,
    #111216 99.2%
  );
  padding: 8rem 0 2rem;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-part ul li:hover {
  color: #fff;
}
.footer-part p {
  color: #aeaeae;
  text-align: justify;
  font-size: 12px;
}
.footer-part h6 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;

  color: #fff;
}
.footer-part ul li {
  line-height: 2;
  font-weight: bold;
  color: #aeaeae;
  font-size: 0.9rem;
}
.footer-tags-parts {
  display: flex;
  justify-content: space-between;
}
.footer-tags {
  --tw-bg-opacity: 1;
  background-color: rgba(76, 82, 95, var(--tw-bg-opacity));
  padding: 0.5rem 1.5rem;
}
.footer-tags h5 {
  font-size: 0.9rem;
  color: #fff;
}
.contact-footer h5 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
}
.footer-part img {
  margin-right: 20px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.top-header {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background: radial-gradient(
    115.93% 71.58% at 73.5% 4.92%,
    #5b6378 0,
    #4d5567 39.67%,
    #495062 99.23%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.texts-right:after {
  content: '';
  width: 0.2px;
  height: 100px;
  background: #858585;
  margin: 0 10px;
  z-index: 9;
  height: 1.8rem;
  position: absolute;
}

.top-header img {
  margin-left: 25px;
}
.colors-heading {
  display: flex;
}
.colors-heading .red {
  background-color: #ff7979;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.colors-heading .green {
  background-color: #a0ff69;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.colors-heading .grey {
  background-color: #cfcfcf;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.colors-heading .white {
  background-color: #ffffff;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.colors-heading .black {
  background-color: #050505;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.colors {
  display: flex;
}
.colors-heading h6 {
  margin-right: 25px;
  color: #424242;
  font-size: 14px;
}
.watch-content ul li {
  color: #424242;
}
.grow {
  flex-grow: 0 !important;
}
.user svg {
  margin-right: 40px;
}
.top-header small {
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
}
.home-slider img,
.earphones-banner img {
  clip-path: polygon(100% 0%, 100% 85%, 50% 100%, 0% 85%, 0 0);
}
.box {
  height: 650px !important;
}
.contact-footer {
  display: flex;
  justify-content: start;
}

/* .navbar-nav li :hover::before {
  content: '';
  width: 6rem;
  height: 100px;
  background-color: #5cee08;
  z-index: 9;
  height: 1.7px;
  position: absolute;
  top: 60px;
} */

.deal-days {
  background: radial-gradient(
    572.27% 153.85% at 48.42% 21.8%,
    #5b6378 0,
    #303642 39.67%,
    #111216 99.2%
  );
  position: relative;
  width: 100%;
  height: 280px;
  margin: 8rem 0;
}

.deal-card {
  background: #e2e2e2;
  padding: 1rem;
  width: 400px;
  height: 400px;
  position: absolute;
  bottom: -56px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px !important;
}
.deal-card img {
  width: 230px;
}
.deal-days h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #39ff14;
  text-transform: capitalize;
  text-align: center;
  margin-top: 7rem;
}
.shops {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 5px !important;
}
.shops img {
  width: 20px !important;
}
.step-part {
  display: table;
}
.primum-steps {
  display: table-cell;
  vertical-align: middle;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;

  transition: 0.3s;

  border-radius: 100px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  /* background-color: #ddd; */
}

/* Create an active/current tablink class */
.tab button.active {
  border: 2px solid #39ff14;
}

/* Style the tab content */
.tabcontent {
  display: none;
}

.tabcontent img {
  width: 100%;
}
.black-c {
  margin-right: 15px;
  width: 30px !important;
  height: 30px !important;

  background-color: #111111 !important;
}
.pink-c {
  margin-right: 15px;
  width: 30px !important;
  height: 30px !important;
  background-color: #ff7d7d !important;
}
.silver-c {
  margin-right: 15px;
  width: 30px !important;
  height: 30px !important;
  background-color: #dbdbdb !important;
}
.blue-c {
  margin-right: 15px;
  width: 30px !important;
  height: 30px !important;
  background-color: #0c51d3 !important;
}
/* .product-details-content > div {
  margin-bottom: 3rem;
} */
.product-details-content h2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #232558;
}
.product-details-content h6 {
  font-size: 1rem;

  color: #232558;
}
.product-details-content h5 {
  font-size: 2em;
}
.product-details-content p {
  font-size: 1.1rem;
  --tw-text-opacity: 1;
  color: rgba(48, 95, 95, var(--tw-text-opacity));
}
.product-details-content h6 {
  margin-bottom: 3rem;
  font-weight: 300;
}
.product-details-content p {
  margin-bottom: 2rem;
}
.product-details-content small {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 10px;
  color: #6f6f6f;
}
.pricing-cart {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
.btn-cart {
  text-transform: uppercase !important;
  padding: 20px 80px !important;
  border-radius: 0 !important;
  background-color: #39ff14 !important;
  border: none !important;
  color: #111216 !important;
  font-weight: 500 !important;
  font-family: 'Poppins', sans-serif !important;
}
.rate {
  display: flex;
}
.rate del {
  margin-left: 15px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #757575;
}
.rate h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #3c3c3c;
}
.shipping small {
  font-size: 13px !important;
  margin-left: 10px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: capitalize;
}

.shipping {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.shipping img {
  width: 40px;
  height: 40px;
}
.banner-gallery img {
  width: 100%;
  margin: 10px;
  border-radius: 10px;
}
/* .banner-gallery > div {
  display: flex;
} */

.featured-table table {
  border: 0.1px solid #9c9c9c;
  margin-top: 2rem;
  text-align: center;
  text-transform: capitalize;
}
.featured-table tbody tr td {
  padding: 25px 40px !important;
}

.featured-table thead {
  padding: 2rem !important;
}
.featured-table thead tr th {
  background: #515151;
  color: #fff;
  font-size: 1.2rem;
}
.featured-table table tr td:first-child {
  font-weight: 600;
  color: #515151;
}
.featured-table table tr td:nth-last-child(2) {
  font-weight: 600;
  color: #9c9c9c;
}
.featured-table table tr td:last-child {
  font-weight: 600;
  color: #9c9c9c;
}

.featured-table,
.faq-sections,
.product-reviews {
  margin: 5rem 0;
}
.featured-table h6,
.faq-sections h6,
.product-reviews h6 {
  color: #515151;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}
.featured-table p {
  color: #39ff14;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase !important;
  text-align: center !important;
}
/* faq */
.accordion {
  background: transparent;
  color: #444;
  cursor: pointer;
  padding-top: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.accordion:after {
  content: '\1f893  ';
  color: #39ff14;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  font-size: 2.5rem;
}

.panel {
  padding: 0 18px;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* faq */
.panel h5 {
  font-size: 15px;
  color: #636363;
}
.panel p {
  font-size: 15px;
  color: #9b9b9b;
  margin-bottom: 20px;
}
.faq-sections hr {
  margin: 0 !important;
}
.faq-sections h2 {
  color: #39ff14;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase !important;
  text-align: center !important;
}
.faq-sections .hello {
  margin-top: 5rem;
}
.neon {
  background-color: #39ff14 !important;
  border-radius: 0 !important;
}
.progress {
  margin-bottom: 25px !important;
  border-radius: 0 !important;
}
.review-percentage {
  text-transform: uppercase;
  line-height: 1.5;
}
.rating h2 {
  color: #474747;
  font-size: 6rem;
  text-align: center;
  font-weight: 600;
}
.rating i {
  color: #39ff14;
  font-size: 1.2rem;
}
.rating h6 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.review-write-content {
  margin-top: 5rem;
  border-bottom: 1px solid #636363;
}
.review-write-content i {
  color: #39ff14;
}
.review-write-content h5 {
  font-weight: 700;
}
.review-write-content > div {
  margin-bottom: 1rem;
}
.review-write-content p {
  font-size: 15px;
  color: #636363;
}
.review-write-content h2 {
  font-size: 14px;
  font-weight: 800;
}
.product-support {
  background: radial-gradient(
    572.27% 153.85% at 48.42% 21.8%,
    #5b6378 0,
    #303642 39.67%,
    #111216 99.2%
  );
  color: #fff !important;
  padding: 2rem 0;
}
.product-support .accordion {
  color: #fff;
}
.product-support .panel h4 {
  font-size: 16px;
}
.product-support {
  padding: 5rem !important;
}
.product-support h2 {
  text-align: center;
  font-weight: bold;
}
.product-support h3 {
  text-align: center;
  color: #39ff14;
  margin: 2rem 0;
}

.drop-down-cards {
  padding: 1rem;
}
.drop-down-cards img {
  border: 1px solid #dadada;
  width: 170px;
  padding: 1rem;
}
.dropdown-part-content {
  background: rgb(249 249 249);
  padding: 2rem;
  height: 450px !important;
  overflow: scroll;
}
.drop-down-cards p {
  font-weight: 700;
  margin: 10px 0 0 0;
}
.drop-down-cards i {
  color: #39ff14;
  font-size: 10px;
}
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

/* earphone-pages */
.watch-card-new {
  --tw-bg-opacity: 1;
  background-color: rgba(246, 246, 247, var(--tw-bg-opacity));
  width: 100%;
  height: 530px;
  box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 36px)
  ) !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 4px)
  ) !important;
  display: inline-block !important;
  border-radius: 0 !important;
}

.main-watch-new {
  text-align: center;
  padding: 0 1rem;
}

.main-watch-new img {
  width: 275px;
  height: 275px;
}
.buy-new {
  position: absolute;
  bottom: 130px;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.buy-new h6 {
  font-size: 12px;
}
.buy-new img {
  margin-bottom: 10px;
}

.watch-card-new hr {
  margin: 4px !important;
}
.watch-card-new ul li {
  text-transform: capitalize;
  font-size: 14px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.earphones-banner img {
  width: 100%;
  height: 100%;
}

.cart-btns-top {
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
  border: none !important;
}
.modal-style {
  background-color: #f5f5f5;
  border-radius: 0 !important;
  padding: 2rem !important;
  border: none !important;
}
.input-style {
  border-radius: 0 !important;
  line-height: 2 !important;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #565656 !important;
}
.btn-continue {
  padding: 14px 8px !important;
  background: whitesmoke !important;
  color: #565656 !important;
  font-weight: 600 !important;
  border: none !important;
  border-radius: 0 !important;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px !important;
  margin-bottom: 3rem;
}

.modal-body p {
  font-size: 14px;
}

.support-banner {
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 50vh;
}

.support-banner h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  padding: 4rem 0;
}
.support-card h6 {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 10px 0;
}

.support-card p {
  color: #fff;
  opacity: 0.6;
  font-size: 15px;
}
.support-card img {
  width: 45px;
  height: 45px;
  margin-bottom: 15px;
}
.gazzify-warranty {
  text-align: center !important;
}

.warrantyys-cards {
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
  padding: 2rem;
}
.warrantyys-cards i {
  width: 50px;
  height: 50px;
}

.support-faqs {
  font-family: 'Roboto', sans-serif !important;
}

.support-faqs .accordion {
  font-size: 14px;
  text-transform: capitalize;
}
.support-faqs .accordion:after {
  font-size: 20px;
}

.about-pages h6 {
  font-size: 1.2rem;
  font-weight: 500;
}
.about-pages p {
  font-size: 1rem;
  text-align: justify;
}
.delivery-speed h3 {
  font-size: 1.4rem;
  font-weight: 600;
}
.delivery-speed h5 {
  font-size: 1rem;
  margin-top: 1rem;
}

.delivery-speed ul li {
  font-size: 15px;
  line-height: 2;
}

.user .btn:focus {
  box-shadow: none !important;
}

a {
  text-decoration: none !important ;
}
/* earphone-pages */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: rgb(52 52 52);
}

/* .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
} */

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.side-top-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  text-transform: capitalize;
}

.item-style {
  margin: 1rem;
  border: 1px solid #dddddd;

  padding: 0.5rem;
}
.item-cards {
  display: flex;
}

.item-cards img {
  width: 120px;
  height: 120px;
  padding: 1rem;
  margin-right: 20px;
  background: #f4f4f4;
}

.item-price {
  display: flex;
  margin-top: 10px;
}

.color-dynamic {
  background: #ff61dd;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.item-cards h6 {
  margin-bottom: 2rem;
  font-size: 20px;
  color: #000000;
}

.item-cards del {
  font-size: 14px;
  margin-left: 10px;
}

.item-price p {
  font-size: 14px;
  margin-left: 10px;
  color: #39ff14;
}

.color-items p {
  margin: 0;
  text-transform: uppercase;
  font-size: 10px;
}

.color-items small {
  font-weight: bold;
  font-size: 10px;
  margin-left: 5px;
  color: #000000;
}

.add-item {
  display: flex;
  justify-content: space-between;
}

.plus-minus {
  display: flex;
}
.plus-minus > div {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  text-align: center;
}

.shipping-item h6 {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
.shipping-item p {
  font-size: 12px;

  color: #3b3b3b;
}
.checkout {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 6px 1px #00000021;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  overflow: scroll;
}
.btn-checkout {
  background: #39ff14 !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;

  padding: 10px 30px !important;
}
.order-summary {
  margin-bottom: 8rem;
}

.order-summary table tr:last-child {
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #000000;
}

.side-login-toggle {
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 8rem;
}

.btn-continue {
  background: #39ff14 !important;
  border-radius: 0 !important;
}

.side-login-toggle {
  display: none;
}
.address-section {
  background: #f2f2f2;
}

.white-bg {
  background: #fff;
  margin: 2rem;
}
.bg-cart {
  background-color: #fff;
  padding: 2rem;
}

.number-vice {
  text-align: center;
  background-color: #39ff14;
  width: 35px;
  height: 35px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

label {
  font-size: 12px;
  color: #2d2d2d;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.address-cart form > div {
  margin-bottom: 15px;
}
.edit {
  border-radius: 0 !important;
}

.address-cart,
.payment-gatway {
  background-color: #fff;
  padding: 1rem;
  margin-top: 1rem;
}

.payment-cart {
  height: 500px;
  margin-top: 2rem;
  background-color: #fff;
  padding: 1rem;
}
.payment-cards {
  border: 1px solid #8b8b8b;
  padding: 10px;
  background-color: #fff;
  width: 120px;
  height: 120px;
  text-align: center;
}

.payment-cards img {
  width: 80px;
}

.tabcontent-payment {
  float: left;
  padding: 0px 12px;

  width: 70%;
  border-left: none;
  height: 300px;
}

.content-payment {
  float: left;
  padding: 0px 12px;
  width: 70%;
  /* border-left: none; */
  height: 300px;
}

@media screen and (max-width: 767px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .deal-card {
    width: 370px;
  }
  .deal-days {
    height: 550px;
    margin-bottom: 6rem;
  }
  .footer {
    padding: 3rem 0 2rem !important;
  }
  .footer-part h6 {
    margin-top: 3rem !important;
    margin-bottom: 1rem;
  }
  .social-icons {
    display: flex;
    justify-content: space-between;
  }

  .footer-tags-parts {
    flex-wrap: wrap;
  }
  .footer-tags {
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
  }
  .watch-heading h2 {
    font-size: 2rem;
  }
  .watch-heading p {
    font-size: 13px;
  }
  .navbar-light .navbar-toggler {
    border: none !important;
  }
  .support-banner {
    height: 100%;
  }
  .support-banner h2 {
    font-size: 1.2rem;
  }
  .warrantyys-cards {
    margin-bottom: 10px;
  }
  .product-support {
    padding: 1rem !important;
  }
  .accordion {
    font-size: 14px;
  }
  .btn-cart {
    padding: 10px 40px !important;
  }
  tbody tr td {
    padding: 10px;
    font-size: 14px;
  }
  .featured-table thead tr th {
    font-size: 16px;
  }
  .featured-table h6,
  .faq-sections h6,
  .product-reviews h6 {
    font-size: 2rem;
  }
  .featured-table p {
    font-size: 14px;
  }
  .banner-gallery img {
    margin: 0;
  }
  .drop-down-cards img {
    width: 80px;
    padding: 5px;
  }
  .drop-down-cards {
    display: flex;
    justify-content: space-between;
  }
}
